Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  cert-*,
  clang-analyzer-*,
  performance-*,
  portability-*,
  readability-misleading-indentation
WarningsAsErrors: 'bugprone-*,clang-analyzer-*'
HeaderFilterRegex: '^(include|src|tests)/.*\.(c|h)$'
FormatStyle: none
