BasedOnStyle: LLVM
Language: Cpp
InsertNewlineAtEOF: true
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
ContinuationIndentWidth: 8
IndentCaseLabels: true
IndentPPDirectives: None
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
BinPackParameters: false
BinPackArguments: false
PointerAlignment: Left
ReferenceAlignment: Left
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
NamespaceIndentation: None
FixNamespaceComments: true
ReflowComments: false
